@model List<WebShopProjekt.ViewModels.CartViewModel>


<form method="post" action="/home/order">
    <div>
        <h4>Podaci za narudžbu:</h4>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">ime</label>
                    <input class="input-group" type="text" name="Name" />
                </div>
                <div class="form-group">
                    <label class="control-label">Prezime</label>
                    <input class="input-group" type="text" name="LastName" />
                </div>
                <div class="form-group">
                    <label class="control-label">Adresa</label>
                    <input class="input-group" type="text" name="Address" />
                </div>
                <div class="form-group">
                    <label class="control-label">Mjesto</label>
                    <input class="input-group" type="text" name="City" />
                </div>
                <div class="form-group">
                    <label class="control-label">Poštanski broj</label>
                    <input class="input-group" type="text" name="Zip" />
                </div>
                <div class="form-group">
                    <label class="control-label">Telefon</label>
                    <input class="input-group" type="tel" name="Phone" />
                </div>
                <div class="form-group">
                    <label class="control-label">Nazin dostave</label>
                    <select name="Delivery">
                        <option value="1">Osobno preuzimanje</option>
                        <option value="2">Dostava na kućnu adresu</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <table>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="/images/@item.Product.images.First().ImagePath" style="width: 50px; height:50px; object-fit:cover; margin-right: 10px;" />
                                </div>
                            </td>
                            <td>
                                @item.Product.Price.ToString("n2") €
                            </td>
                            <td>
                                <div class="input-group">
                                    <label class="btn btn-outline-danger mx-3">@item.Quantity</label>
                                </div>
                            </td>
                            <td>
                                @((item.Product.Price * item.Quantity).ToString("n2")) €
                            </td>
                        </tr>
                    }
                </table>
            </div>           
        </div>
    </div>
</form>